<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 1.指定映射的对象是usermapper类 -->
<mapper namespace="com.aaa.mapper.UserMapper">

	<!-- 查询，写定义的方法对应的sql操作 -->
	<select id="CheckLoginAndPwd" resultType="user" parameterType="user">
		select*from user where username=#{username} and password=#{password}
	</select>
	<!-- 增加，性别以数字替代1=男 0=女 -->
	<insert id="addUser" parameterType="user">
		insert into user
		values(default,#{username},#{password},#{birthday},1,#{address})
	</insert>

</mapper>