<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定映射到dao层 -->
<mapper namespace="com.aaa.mapper.ItemsDaoMapper">

	<!-- 查询单条数据，类型int返回items类型 -->
	<select id="findOne" parameterType="int" resultType="items">
		select *
		from items where id=#{id}
	</select>

	<!-- 查询所有数据id降序 -->
	<select id="findAll" resultType="items">
		select * from items order by id
		desc
	</select>

	<!-- 增加数据 -->
	<insert id="add" parameterType="items">
		insert into items
		values(default,#{name},#{price},#{detail},#{pic},#{createtime})
	</insert>

	<!-- 更新数据-通过id -->
	<update id="upd" parameterType="items">
		update items set
		name=#{name},price=#{price},detail=#{detail},pic=#{pic},createtime=#{createtime}
		where id =#{id}
	</update>

	<!-- 删除数据-通过id -->
	<delete id="del" parameterType="int">
		delete from items where id=#{id}
	</delete>
</mapper>